:root {
    --flag-color: #a15415;
    --pole-color: #202020;
    --ground-color: rgb(24, 121, 24);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', sans-serif;
    background: linear-gradient(180deg, #167ea0 0%, #15a9da 100%);
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    position: absolute;
    height: 200vh;
    width: 100%;
    overflow: hidden;
}

.flip {
    transform: scaleX(-1);
}

/* ---------------------------------- */
/* ... EDGE GRADIENT ... */
/* ---------------------------------- */

@keyframes pull-edge-gradient {
    from {opacity: 0;}
    to {opacity: 20%;}
}

.edge-gradient {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 20%;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(transparent 50%, black 100%);
    animation-name: pull-edge-gradient;
    animation-duration: 2s;
}

/* ---------------------------------- */
/* ... CLOUDS ... */
/* ---------------------------------- */
.container-clouds {
    display: flex;
    height: 50%;
}

.cloud-grid {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 2rem;
    grid-template-areas:
    '. one . . . . . . four . . .'
    '. . . . . . . . . . five .'
    '. . two . . . . . . . . .'
    'three . . . . . . . . six . .';
}

@keyframes cloud-idle {
    from { transform: none;}
    to { transform: translateY(-2%);}
}

@keyframes cloud-appear {
    from { opacity: 0;}
}

.anim {
    animation: cloud-idle 1s ease-in-out alternate infinite;
    animation-delay: 0;
}

.cloud {
    opacity: 75%;
    position: relative;
    width: 10vw;
    aspect-ratio : 5 / 3;
    animation: cloud-appear 2s ease-out;
}

@keyframes cloud-upper {
    from { transform: none;}
    50% { transform: scale(107%, 107%);}
    to { transform: none;}
}

@keyframes cloud-lower {
    from { margin: 0;}
    50% { margin-left: 0.1vw; margin-right: 0.1vw;}
    to { margin: 0;}
}

.cloud:not(:hover) .ml,
.cloud:not(:hover) .mr {
    animation: cloud-upper 0.5s ease-in-out alternate;
}

.cloud:not(:hover) .l,
.cloud:not(:hover) .r {
    animation: cloud-lower 0.5s ease-in-out alternate;
}

.cloud div {
    position: absolute;
    height: 50%;
    bottom: 0;
    background-color: white;
    border-radius: 50%;
    aspect-ratio : 1 / 1;
    box-shadow: 0.5vw 0.5vw lightblue;
}

.cloud .l {
    left: 0;
    margin-left: 0;
    height: 50%;
    transition: 0.2s;
}

.cloud .b {
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    border-radius: 0;
}

.cloud .r {
    right: 0;
    height: 50%;
    transition: 0.2s;
}

.cloud .ml {
    left: 17%;
    bottom: 15%;
    height: 65%;
    transition: 0.1s;
}

.cloud .mr {
    bottom: 20%;
    right: 17%;
    height: 75%;
    transition: 0.2s;
}

.cloud .f {
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    border-radius: 0;
    box-shadow: none;
}

/* ---------------------------------- */
/* ... FLAGPOLE ... */
/* ---------------------------------- */

.container-flagpole {
    position: absolute;
    width: 2vw;
    height: 75%;
    bottom: 0;
    left: 50%;
    z-index: 2;
}

.flagpole {
    position: absolute;
    height: 0;
    width: 1.5vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 150vh solid var(--pole-color);
	border-left: 1.75vh solid transparent;
	border-right: 1.75vh solid transparent;
}

.container-flagpole .gradient {
    position: absolute;
    height: 0;
    width: 0.25vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 150vh solid #3d3d3d;
	border-left: .75vh solid transparent;
	border-right: .75vh solid transparent;
}

.container-flagpole:before {
    position: absolute;
    content: '';
    width: 6vh;
    height: 15vh;
    bottom: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 7vh solid transparent;
    border-right: 7vh solid transparent;
    border-bottom: 10vh solid #313131;
    border-radius: 50%;
    z-index: 1;
}

.container-flagpole:after {
    position: absolute;
    content: '';
    width: 14vh;
    height: 25vh;
    bottom: -2vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 12vh solid transparent;
    border-right: 12vh solid transparent;
    border-bottom: 15vh solid var(--ground-color);
    border-radius: 50%;
    z-index: 1;
}

.flagpole .top {
    position: absolute;
    width: 3vh;
    aspect-ratio : 1 / 1;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fddf9d;
    top: -1vh;
    z-index: 5;
    box-shadow: inset -0.1vw -0.2vw #f7b321;
}

@keyframes flag-anim {
    from { transform: none;}
    to { transform: translate(-50%, 0);}
}

@keyframes flag-leveler {
    from { transform: none;}
    50% { transform: translate(0, -20%);}
    to { transform: none;}
}

.flagpole .flag-container {
    position: absolute;
    top: 3.5vh;
    left: 1vh;
    width: 30vh;
    height: 20vh;
    overflow: hidden;
    animation: flag-leveler 4s ease-in-out 1s infinite;
    animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
}

.flagpole .test {
    position: absolute;
    top: 3.5vh;
    left: -3vh;
    width: 3vh;
    height: 19vh;
    animation: flag-leveler 4s ease-in-out 1s infinite;
    animation-timing-function: cubic-bezier(0.15, 0, 0.85, 1);
    background-color: red;
    z-index: 6;
}

.flagpole .flag {
    position: absolute;
    display: flex;
    align-items: center;
    width: 200%;
    height: 19vh;
    animation: flag-anim 4s linear infinite;
}

.flagpole .flag .l {
    width: 25%;
    height: 100%;
}

.flagpole .flag .r {
    width: 25%;
    height: 100%;
}

.flagpole .flag .l:before {
    content: '';
    background-image: radial-gradient(circle at 50% 100%, transparent 15vh, var(--flag-color) 15vh);
    position: absolute;
    top: 15vh;
    width: 26%;
    height: 15vh;
}

.flagpole .flag .l:after {
    content: '';
    background-image: radial-gradient(circle at 50% 100%, var(--flag-color) 15vh, transparent 15vh);
    position: absolute;
    top: 0;
    width: 26%;
    height: 15vh;
}

.flagpole .flag .r:before {
    content: '';
    background-image: radial-gradient(circle at 50% 0, transparent 15vh, var(--flag-color) 15vh);
    position: absolute;
    bottom: 15vh;
    width: 26%;
    height: 15vh;
}

.flagpole .flag .r:after {
    content: '';
    background-image: radial-gradient(circle at 50% 0, var(--flag-color) 15vh, transparent 15vh);
    position: absolute;
    bottom: 0;
    width: 26%;
    height: 15vh;
}

/* ---------------------------------- */
/* ... GROUND ... */
/* ---------------------------------- */

.container-ground {
    position: absolute;
    width: 100%;
    height: 12%;
    bottom: 0;
    overflow: hidden;
}
.ground {
    width: 150%;
    height: 200%;
    background-image: radial-gradient(var(--ground-color) 50%, rgb(0, 78, 0) 90%);
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}